<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill, gravity: :face %>')"
>
  <%= @list.name %>
</div>

<br>
<div class="card-product">
  <% @bookmarks.each do | bookmark | %>
    <img src="<%= bookmark.movie.poster_url %>"/>
    <div class="card-product-infos">
      <h2><strong><%= bookmark.movie.title %></strong></h2>
      <p><strong>Overview: </strong><%= bookmark.movie.overview %></p>
      <p><strong>Comment: </strong><em><%= bookmark.comment%></em></p>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'Add a movie to the list!', new_list_bookmark_path(@list), class: "btn btn-flat d-flex justify-content-center mt-3" %>
<br>
<%= link_to 'Go Back', lists_path, class: "btn btn-flat" %>
